extends layout

block content 
  .gallery
    <canvas id="renderCanvas" touch-action="none"></canvas>
  <script src="../scripts/planetgen.js"></script>

block footer 
  p Applet by Stephanie Aelmore. Source available <a href="https://github.com/believeinlain/planetgen-js">here</a> under the MIT license.